.item-card {
  cursor: pointer;
  border-radius: 6px;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  transition: all 0.2s;
  &:hover {
    background: rgb(230, 230, 230);
  }
}